@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    font-size: 150%;
}

/* *:not(:first-child) { margin-block-start: 1rem;} */

body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    color: #1F1F1F;
   /* padding: 3rem;*/
   
}

h1 {
    font-size: 4rem;
    line-height: 100%;
    margin-block-start: 2rem;
}

p {
    line-height: 160%;
    margin-block-start: 1rem;
    max-inline-size: 70ch;
   
  
}

h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 2rem;
    margin-block-start: 3em;
    margin-block-end: 2rem;
    
}

h3 {
    font-size: 2rem;
    line-height: 120%;
    
}

article ol {
	margin-block: 2em;
    list-style-type: decimal;
    margin-inline-start: 2rem;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
}

article ol li::marker {
    font-size: 2rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
		
}

nav li {
	display: inline;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 1.2rem;
}

nav {
    width: 100%;
    color: #1F1F1F;
    background-color: white;
    border-block-color: #1F1F1F;
    border-block-style: solid;
	border-block-width: 0.1rem;
    margin-block-start: 3em;
    padding: 1rem;
    position: sticky;
    top: 0;
}

strong {
  font-weight: 600;
}

q {
font-style: italic;
}

footer{
    width: 100%;
    padding: 1rem;
    color: white;
    background-color:  #1F1F1F;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 1.2rem;
    margin-block-start: 1rem;
}

.bottom {
    width: 100%;
    padding: 1rem;
    border-block-color: #1F1F1F;
    border-block-style: solid;
	border-block-width: 0.1rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 1.2rem;
    margin-block-start: 3em;
}

.author {
   font-size: 2rem;
   line-height: 120%;
}

.response {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;   
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
}

#linkresponse {
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;
    color: white;
    background-color: #1F1F1F;
    padding-block: 1rem;
}

.barlow {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 90%;
    background-color: #F13523;
    color: white;
    padding: 1rem;
    margin-inline-end: 10rem;
}

blockquote {
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    
}
